NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_ORGANIZER_CREATE_EVENT_ENDPOINT=http://localhost:8080/api/organizer/events
NEXT_PUBLIC_ORGANIZER_EVENT_MEDIA_UPLOAD_ENDPOINT=http://localhost:8080/api/organizer/events/upload
NEXT_PUBLIC_ORGANIZER_IMAGE_MAX_MB=10
NEXT_PUBLIC_ORGANIZER_TICKET_TYPES_BASE=/api/organizer
NEXT_PUBLIC_ORGANIZER_ATTENDEES_BASE=/api/organizer