NEXT_PUBLIC_API_BASE_URL=http://75.101.153.235:8080
NEXT_PUBLIC_ORGANIZER_CREATE_EVENT_ENDPOINT=http://75.101.153.235:8080/api/organizer/events
NEXT_PUBLIC_ORGANIZER_EVENTS_ENDPOINT=http://75.101.153.235:8080/api/organizer/events
NEXT_PUBLIC_ORGANIZER_API_BASE=http://75.101.153.235:8080/api/organizer
NEXT_PUBLIC_ORGANIZER_MEDIA_UPLOAD_ENDPOINT=http://75.101.153.235:8080/api/media/upload
NEXT_PUBLIC_LOGIN_ENDPOINT=/api/auth/login
NEXT_PUBLIC_REGISTER_ENDPOINT=/api/auth/register
NEXT_PUBLIC_LOGOUT_ENDPOINT=/api/auth/logout
NEXT_PUBLIC_REFRESH_ENDPOINT=/api/auth/refresh
NEXT_PUBLIC_USER_PROFILE_ENDPOINT=/api/auth/users/me
NEXT_PUBLIC_CHANGE_PASSWORD_ENDPOINT=/users/{id}/change-password
NEXT_PUBLIC_ADMIN_USERS_ENDPOINT=/api/admin/users
NEXT_PUBLIC_MY_NOTIFICATIONS_ENDPOINT=/api/customer/me/notifications
NEXT_PUBLIC_ORDERS_ENDPOINT=/api/orders
NEXT_PUBLIC_MY_ORDERS_ENDPOINT=/api/orders/me
NEXT_PUBLIC_PAYMENTS_ENDPOINT=/api/payments
NEXT_PUBLIC_MY_TICKETS_ENDPOINT=/api/me/tickets
APP_PORT=3000